.options{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: inherit;
    margin-bottom: 6rem;
}

.option{
    width: 100%;
    flex: 1;
    height: 24rem;
    overflow: hidden;
    border-radius:1.2rem ;
    position: relative;
    cursor: pointer;
}
.image{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.info{
    padding: 1rem 2rem 1.6rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0px 0px 1.2rem 1.2rem;
    box-sizing: border-box;
}

.info-tite{
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    text-align: left;
    line-height: 3.2rem;
}
.info-description{
    display: block;
    color: rgb(79, 79, 79);
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
    max-width: 100%;
}
.overlay-places {
    font-size: 1.4rem;
    margin: 0.3rem 0px 1rem;
    display: flex;
    align-items: center;
  }


  @media (max-width: 500px) {
    .options {
      max-width: 45%;
      flex: auto;
    }
  
    .option {
      display: none;
    }
    
    .info-tite {
        font-size: 2rem !important;
        line-height: 3.2rem !important;
      }
    
    .info-description {
        font-size: 1.2rem !important;
      }
  
  }